doctype html
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="./stylesheets/rappid.min.css")
    link(rel="stylesheet" type="text/css" href="./stylesheets/layout.css")
    link(rel="stylesheet" type="text/css" href="./stylesheets/paper.css")
    link(rel="stylesheet" type="text/css" href="./stylesheets/inspector.css")
    link(rel="stylesheet" type="text/css" href="./stylesheets/stencil.css")
    link(rel="stylesheet" type="text/css" href="./stylesheets/halo.css")
    link(rel="stylesheet" type="text/css" href="./stylesheets/selection.css")
    link(rel="stylesheet" type="text/css" href="./stylesheets/toolbar.css")
    link(rel="stylesheet" type="text/css" href="./stylesheets/statusbar.css")
    link(rel="stylesheet" type="text/css" href="./stylesheets/freetransform.css")
    link(rel="stylesheet" type="text/css" href="./stylesheets/style.css")
    link(rel="stylesheet" type="text/css" href="./stylesheets/customShape.css")

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")
    script(src="./javascripts/externalLib/jquery/dist/jquery.js")
    script(src="./javascripts/externalLib/lodash/index.js")
    script(src="./javascripts/externalLib/backbone/backbone.js")
    script(src="./javascripts/externalLib/graphlib/dist/graphlib.core.js")
    script(src="./javascripts/externalLib/dagre/dist/dagre.core.js")
    script(src="./javascripts/externalLib/KeyboardJS/keyboard.js")
    script(src="./javascripts/externalLib/jointJs/rappid.min.js")
    //- script(src="./javascripts/inspector.js")
    //- script(src="./javascripts/stencil.js")
    //- script(src="./javascripts/main.js")
    script(src="./data/customShape.js")
    script(src="./data/anotherCustomShape.js")
    script(src="./javascripts/angularSrc/modules.js")
    script(src="./javascripts/angularSrc/services.js")
    script(src="./javascripts/angularSrc/directives.js")
    script(src="./javascripts/angularSrc/index.js")

  body
    block content
